<section>
  <h2>Eubacteria</h2>
  <img src="../../../../assets/img/Eubacteria.jpg" alt="">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Magnam suscipit ea, voluptatem accusamus reiciendis natus 
    optio tempore consectetur, facere sed quas, ipsa deserunt 
    velit nisi recusandae. Dolores accusantium vero nulla, 
    dicta enim iusto aut, nobis recusandae modi ipsum saepe 
    consequatur impedit possimus tempora eligendi voluptates 
    dolor quidem, deserunt numquam. Iste, molestias modi 
    laudantium praesentium quo consequatur cupiditate quisquam 
    eum! Vitae ab iure quod consectetur ullam dolor eveniet 
    praesentium quo impedit voluptatum quos esse beatae, eum 
    incidunt veritatis iste ipsum quidem cumque autem, sint ex 
    pariatur? Illum porro obcaecati incidunt amet aut! Veniam 
    quisquam dicta, deserunt sapiente ea voluptas quaerat 
    consectetur.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Soluta, nihil? Saepe dolorum dolores voluptatibus dolorem 
    aliquid rerum quas, ab mollitia itaque fuga expedita, optio 
    quae illo provident dicta esse necessitatibus, ullam harum 
    ducimus ex. Excepturi voluptatibus, cumque molestiae 
    dignissimos perspiciatis quo fugit blanditiis. Neque eos a 
    est recusandae officia deleniti quaerat omnis. Iusto modi 
    recusandae error omnis earum illo nesciunt ullam vero nisi 
    itaque magni ratione sint quibusdam architecto hic dolorem 
    optio nam eveniet provident numquam, consectetur ipsum, 
    soluta quaerat saepe. Vel possimus ipsa, recusandae ducimus 
    culpa odit. Quasi voluptatum dolore facilis nihil recusandae, 
    veritatis aliquid quia magnam, obcaecati cupiditate doloribus 
    cumque quis iste iusto fuga incidunt tempora labore, aperiam 
    soluta! Velit, fuga quo. Error, eaque ipsam! Placeat maxime 
    sint nostrum inventore adipisci culpa ipsum quaerat iste 
    asperiores harum? Soluta hic, incidunt unde modi adipisci qui 
    quos minima porro totam dolor ad cum quod delectus, ullam 
    explicabo? Consequuntur deleniti ipsum rerum veritatis sint 
    quam praesentium alias dolorem. Magni repellat ipsa, minus 
    aliquam itaque laudantium cum impedit fugiat eius deleniti 
    tempore non, consequatur doloremque quo accusamus harum laborum 
    quaerat quasi quia. Vitae suscipit accusantium maiores, fuga 
    amet, provident atque dolor nulla, voluptatibus porro corporis 
    aliquam mollitia rerum ipsam reprehenderit enim quod.
  </p>
</section>
<section>
  <h2>Eubacteria Groups</h2>
  <div class="btn-box">
    <div class="btn">
      <ul>
      <li class="hover-me">Acidobacteria</li>
      <li class="hover-me">Actinobacteria</li>
      <li class="hover-me">Aquificae</li>
      <li class="hover-me">Bacteroidetes</li>
      <li class="hover-me">Chlamydiae</li>
      <li class="hover-me">Chlorobi</li>
      <li class="hover-me">Chloroflexi</li>
      <li class="hover-me">Chrysiogenetes</li>
      <li>Cyanobacteria</li>
      <li class="hover-me">Deferribacteres</li>
      <li>Deinococcus-thermus</li>
      <li class="hover-me">Dictyoglomi</li>
      <li class="hover-me">Fibrobacteres</li>
      <li class="hover-me">Firmicutes</li>
      <li class="hover-me">Fusobacteria</li>
      <li class="hover-me">Gemmatimona-detes</li>
      </ul>
      <li class="hover-me">Thermomicrobia</li>
    </div>
    <div class="btn"><!--Nitrospira-->
      <ul>
        <li class="hover-me">Nitrospira
          <div class="sub-menu-1">
            <ul>
              <li>Leptospirillum</li>
              <li>Magnetobacterium</li>
              <li>Nitospira</li>
              <li>Thermodesulfovibrio</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn"><!--Planctomycetes-->
      <ul>
        <li class="hover-me">Planctomycetes
          <div class="sub-menu-1">
            <ul>
              <li>Gemmata</li>
              <li>Isosphaera</li>
              <li>Pirellula</li>
              <li>Planctomyces</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn"><!--Proteobacteria-->
      <ul>
        <li class="hover-me">Proteobacteria
          <div class="sub-menu-1">
            <ul>
              <li>Alpha Proteobacteria</li>
              <li>Beta Proteobacteria</li>
              <li>Gamma Proteobacteria</li>
              <li>Delta Proteobacteria</li>
              <li>Epsilon Proteobacteria</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn"><!--Spirochaetes-->
      <ul>
        <li class="hover-me">Spirochaetes
          <div class="sub-menu-1">
            <ul>
              <li>Borrelia</li>
              <li>Brachyspira</li>
              <li>Brevinema</li>
              <li>Clevelandina</li>
              <li>Cristispira</li>
              <li>Diplocalyx</li>
              <li>Hollandina</li>
              <li>Leptonema</li>
              <li>Leptospira</li>
              <li>Pillotina</li>
              <li>Serpulina</li>
              <li>Spirochaeta</li>
              <li>Treponema</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn"><!--Thermodesulfobacteria-->
      <ul>
        <li class="hover-me">Thermodesulfobacteria
          <div class="sub-menu-1">
            <ul>
              <li>Thermodesulfobacterium</li>
              <li>Thermodesulfatator</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn"><!--Thermotogae-->
      <ul>
        <li class="hover-me">Thermotogae
          <div class="sub-menu-1">
            <ul>
              <li>Fervidobacterium</li>
              <li>Geotoga</li>
              <li>Marinitoga</li>
              <li>Petrotoga</li>
              <li>Thermosipho</li>
              <li>Thermotoga</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn"><!--Verrucomicrobia-->
      <ul>
        <li class="hover-me">Verrucomicrobia
          <div class="sub-menu-1">
            <ul>
              <li>Opitutus</li>
              <li>Prosthecobacter</li>
              <li>Verrucomicrobium</li>
              <li>Victivallis</li>
              <li>Xiphinematobacter</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-box-2">
    <div class="btn"><!--Chrysiogenetes-->
      <ul>
      </ul>
    </div>
    <div class="btn"><!--Fibrobacteres-->
      <ul>
      </ul>
    </div>
    <div class="btn"><!--Gemmatimonadetes-->
      <ul>
      </ul>
    </div>
    <div class="btn"><!--Thermomicrobia-->
      <ul>
      </ul>
    </div>
  </div>
</section>