*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.eubacteria{
    background-color: lightblue;
    position: absolute;
}

.info-box{
    width: 70%;
    float: left;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

img{
    float: left;
    float: clear;
    margin-right: 8px;
}

.btn-box{
    width: 20%;
    float: left;
    margin-right: 1.5em;
    margin-left: 1.5em;
    background-color: lightgray;
}

.list-1{
    margin-bottom: 50px;
}

h2{
    grid-column: 1/13;
    text-align: center;
    margin-bottom: 10px;
}

.btn-box ul{
    text-align: center;
    list-style: none;
}

.btn-box ul li{
    background-color: lightgreen;
}

.btn ul li a{
    text-decoration: none;
    color: white;
}