<section id="roots">
    <h2>Explore the tree starting from the roots.</h2>
    <div class="box1">
        <h3>Prokaryots</h3>
        <div class="box1-1">
            <h4>Eubacteria</h4>
            <a routerLink="eubacteria"><img src="../../../../../assets/img/Eubacteria.jpg" alt="Eubacteria"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="box1-2">
            <h4>Archaea</h4>
            <a routerLink="archaea"><img src="../../../../../assets/img/Archaea.jpg" alt="Archaea"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="box2">
        <h3>Eukaryotes</h3>
        <div class="box2-1">
            <h4>Multicellular Life</h4>
            <a routerLink="eukaryotes"><img src="../../../../../assets/img/Eukaryotes.jpg" alt="Eukaryotes"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</section>