<nav>
  <div id="title">
    <h1>The Tree of Life</h1>
  </div>
  <div>
    <ul>
      <li><a routerLink="main-page">Home</a></li>
      <li><a routerLink="">About</a></li>
      <li><a routerLink="">Refrences</a></li>
      <li>tree of life
        <hr>
        <div class="sub-menu-1">
          <ul>
            <li><a routerLink="eubacteria">Eubacteria</a></li>
            <li><a routerLink="eukaryotes">Eukaryotes</a></li>
            <li><a routerLink="archaea">Archaea</a></li>
            <li><a routerLink="">Viruses</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>